
<% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") unless product.image_url.blank? %>
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <p><%= product.price %></p>
      </div><!-- /col -->
    <% end %>